/*Estilos generales*/

* {
    box-sizing: border-box;
}


:root {
    --main-pink: #F5AFB7;
    --main-dark-pink: #E1858E;
    --main-grey-green: #6F7560;
    --main-lila: #684954;
    --main-creamy: #F1E8DC;
    --main-light-green: #56c789;
    --main-dark-green: #48463F;
    --main-bordeaux: #4D2128;
    --main-dark-lila: #312A2F;
}


body {
    background-color: var(--main-creamy);
    display: grid;
    margin: 15px;
    padding: 15px;
    font-family: "Flamenco", serif;
}

main {
    display: grid;
    padding: 15px;
    gap: 15px;
}

/*Títulos, subtítulos y sepaciones*/

title, .titulo, .subtitulo {
    font-family: "Amaranth", sans-serif;
    font-size: xx-large;
    justify-self: center;
    margin-top: 0;
}

.resultado, p, ul, h4, h3{
    justify-self: center;
    margin: 5px;
    font-size: larger;
}

.instrucciones{
    font-size: x-large;
    list-style: none;
}

li{
    padding: 15px;
}

/*Botones*/

button{
    background-color: var(--main-dark-pink);
    border-radius: 8px;
    justify-self: center;
    width: 75px;
    height: 35px;
    cursor: pointer;
    border: outset;
    font-family: "Josefin Sans", serif;
    color: var(--main-lila);
    border-color: var(--main-dark-lila);
}

#dice_roll, #reset {
    background-color: var(--main-pink);
    color: var(--main-bordeaux);
    width: auto;
    height: auto;
    font-size: x-large;
    border-color: var(--main-dark-pink);
    padding-top: 3px;
}


/*Daditos*/

.dados{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 225px), 3fr));
    gap: 20px;
    grid-auto-flow: dense;
    background-color: var(--main-bordeaux);
    border-radius: 15px;
    padding: 15px;
    border: 3px inset var(--main-dark-lila);
}

.tarjeta_dado{
    display: grid;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    background-color: var(--main-creamy);
    border-radius: 10px;
    border: outset;
    border-color: var(--main-dark-lila);
}

img{
    width: 150px;
    max-height: auto;
    padding: 20px;
}

#img_d100{
    width: 190px;
    max-height: auto;
}

#img_d8, #img_d10, #img_d20 {
    max-width: 140px;
}

input{
    max-width: 70px;
    margin: 10px;
}

#mayor, #menor{
    display: inline-block;
}

.boton_elegir{
    max-width: 70px;
}

/*Configuraciones de la tirada*/

.menu_resultados {
    display: grid;
    gap: 15px;
}

.menu, .resultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px outset var(--main-dark-green);
    border-radius: 10px;
    padding: 20px;
    min-width: 500px;
    font-size: larger;
    gap: auto;
}

.resultado{
    display: grid;
    gap: 10px;
}

#num_objetivo p {
    display: flex; /* Flexbox para mantener los elementos en línea */
    gap: 10px; /* Espaciado entre los bloques */
    flex-wrap: wrap; /* Permitir que los bloques se muevan si no hay espacio */
    align-items: center; /* Alinear verticalmente los elementos */
    justify-content: center;
    min-width: 200px;
}

#num_objetivo span, #check_suma, #check_mod {
    display: inline-flex; /* Trata al par (input + texto) como un bloque inline */
    align-items: center; /* Alinear el texto con el input verticalmente */
    gap: 5px; /* Espaciado entre el input y el texto */
}

.resultado_valores, .resultado_suma, .resultado_exitos, #resultado_dado{
    font-size:x-large;
    padding: 10px;
    font-family: "Josefin Sans", serif;
}